/*******************************
            Global
*******************************/

html, body {
  font-family: "Lato", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}
body {
  min-height: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", Times New Roman, serif;
}


.button {
  background-color: green;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px
}

.button-style {
  padding-top: 10px;
}

.button-text {
  color: white
}

.card {
  border-radius: 4px;
  width: 300px;
  border: 1px solid white;
  box-shadow: 3px 3px 3px #aaaaaa;
}

.card-top {
  background-color: black;
  height: 150px;
  text-align: center;
  padding-top: 20px;
}

.card-content {
  padding: 10px;
}

table {
  border-spacing: 30px;
  text-align: center;
}

.container-cta {
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 10px;
}

.cta {
  text-align: center;
  width: 300px;
}

/*******************************
              Page
*******************************/

.hero {
  background-color: lightcyan;
  height: 300px

}

.page {
  padding-top: 70px;

}

.footer {
  background-color: black;
  height: 60px;
  bottom: 0;
  width: 100%;
}

.footer-text {
  color: white;
  padding-left: 5px
}

.container {
  display: grid;
  grid-template-columns: 40% auto;
  padding-top: 10px;
}

.graphic-image {
  padding-top: 35px;
  text-align: center;
}

.image {
  padding-top: 5px
}


/*******************************
         Responsive
*******************************/

/* Small Monitor */
@media only screen and (min-width: 1025px) and (max-width: 1199px) {


}


/* Tablet */
@media screen and (max-width: 1024px) {

}

/* Mobile */
@media only screen and (max-width: 767px) {
}
